<h1></h1>
<ul></ul>
<div class="point">
あなたの現在のコンディションは(<span data-point-num></span>/100)点です。<br>
  <div class="link-top">
    <%= link_to '点数を記録する', new_condition_path, class:"render-top" %>
    <%= link_to 'トップページへ戻る', root_path, class:"render-top" %>
  </div>
</div>