.form{
  display: flex;
  justify-content: center;
  margin-top: 475px;
}
.text-box{
  width: 300px;
  margin-right: 10px;
  background-color: transparent;
  color: #ffffff;
  border:2px solid #800080;
  box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
  border-radius: 5px;
}
.text-box:focus{
  color: #ffffff;
  border:2px solid #800080;
  background-color: transparent;
}
.text-box::placeholder{
  color: #ffffff;
  border:2px solid #800080;
}
.submit-btn{
  background-color: transparent;
  color: #ffffff;
  border:2px solid #800080;
  box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
  border-radius: 5px;
  padding: 0 10px;
}
.submit-btn:hover{
  border:2px solid #ff00ff;
}